.about {
    margin-bottom: 180px;
}


.top {
    text-align: center;
    /*noinspection CssUnknownTarget*/
    background-image: url("/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-white);
    text-transform: uppercase;
    min-height: 748px;
}

.title {
    font-size: 250px;
    font-weight: 600;
    line-height: 0.9;
    padding-top: 75px;
}

.subtitle {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}





