.header {
}
.header__inner {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:
    --font-nunito-sans system-ui,
    sans-serif;
}
.logo {
}
.menu {
}
.menu__list {
  display: flex;
  gap: 34px;
}
.menu__item {
}
.menu__link {
  position: relative;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.04em;
  display: inline-block;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.menu__link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: currentColor;
  transition:
    width 0.2s ease,
    left 0.2s ease,
    transform 0.1s ease;
}

.menu__link:hover {
  transform: scale(1.08);
  font-weight: 400;
}

.menu__link:hover::after {
  width: 100%;
  left: 0;
}

.menu__link:active::after {
  transform: translateY(1px);
}

.header__contacts {
  text-transform: uppercase;
  padding: 10px 40px;
  background: var(--background-secondary);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 200;
  line-height: 1.3;
  letter-spacing: 0.04em;
  border-radius: 50px;
  display: inline-block;
  transition:
    background 0.2s ease,
    transform 0.2s ease;
}

.header__contacts:hover {
  background: rgba(14, 13, 13, 0.85);
}
.header__contacts:active {
  transform: translateY(-1px);
}
