:root {
    --font-work-sans: var(--font-work-sans);
    --font-nunito-sans: var(--font-nunito-sans);
    --background-primary: #fdfdf0;
    --background-secondary: var(--color-black);
    --background-gray: #F4F4E7 ;
    --color-black: #0e0d0d;
    --color-white: var(--background-primary);
    --color-gold: #F2A531
}

body {
    font-family: --font-work-sans, sans-serif;
    background: var(--background-primary);
    color: var(--color-black);
    font-size: 16px;
    line-height: 1.35;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-big {
    max-width: 1820px;
    padding: 0 10px;
    margin: 0 auto;
}
