.companyOverview {
    padding-top: 130px;
    margin-bottom: 150px;
}

.block {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.leftBlock {

}

.leftBlockTitle {
    font-weight: 400;
    font-family: var(--font-work-sans), sans-serif;
    font-size: 40px;
    max-width: 540px;
    margin-bottom: 238px;
}

.leftBlockText {
    font-family: var(--font-nunito-sans), sans-serif;
    font-weight: 300;
    font-size: 20px;
    max-width: 565px;
    margin-bottom: 20px;
}
.rightBlock{}
.rightBlockDescription{}