.switch {
    width: 242px;
    height: 60px;
    border-radius: 999px;
    background: black;
    padding: 3px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.label {
    flex: 1;
    padding-left: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

.thumb {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: white;

    display: grid;
    place-items: center;

    transition: transform 0.3s ease;
}

.on {
    transform: translateX(-180px);
}
