.overview {
}

.title {
    font-weight: 200;
    font-size: 40px;
    line-height: 1.375;
    margin-bottom: 40px;
    max-width: 1349px;
}

.title span {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
}

.info {
    font-family: var(--font-nunito-sans), sans-serif;
}

.description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.39;
    margin-bottom: 45px;
    max-width: 889px;
}

.statsList {
}

.statsList:nth-last-child(1) {
    border-bottom: 1px solid #0e0d0d3b;
}

.statsItem {
    padding: 13px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #0e0d0d3b;

}

.statsLabel {
    font-size: 18px;
    font-weight: 400;
}

.yellowText {
    color: var(--color-gold);
    font-weight: 600;
    font-size: 18px;
}
.boldText{
    font-weight: 600;
    font-size: 18px;
}

.statsValue {
    font-size: 16px;
    font-weight: 200;
}


